In [1]:
import numpy as np
import pandas as pd

train = pd.read_csv('../data/wind_dataset/train.csv')
test = pd.read_csv('../data/wind_dataset/test.csv')

train

,ID,월,일,측정 시간대,섭씨 온도(°⁣C),절대 온도(K),이슬점 온도(°C),상대 습도 (%),대기압(mbar),포화 증기압(mbar),실제 증기압(mbar),증기압 부족량(mbar),수증기 함량 (g/kg),공기 밀도 (g/m**3),풍향 (deg),풍속 (m/s)
0,TRAIN_00000,7,2,저녁,13.97,287.78,9.84,76.10,992.08,15.98,12.16,3.82,7.66,1198.06,155.60,1.61
1,TRAIN_00001,8,21,오전,16.94,290.85,12.14,73.30,991.07,19.33,14.17,5.16,8.94,1183.67,177.00,1.68
2,TRAIN_00002,11,1,저녁,9.76,283.84,5.40,74.20,988.71,12.10,8.98,3.12,5.67,1213.22,146.20,0.73
3,TRAIN_00003,12,28,오전,5.27,277.30,2.71,83.50,1014.25,8.89,7.43,1.47,4.57,1265.48,264.50,2.71
4,TRAIN_00004,9,26,오후,17.35,290.86,12.68,74.00,995.77,19.84,14.68,5.16,9.22,1187.40,19.34,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36576,TRAIN_36576,8,10,저녁,14.10,287.79,4.99,54.15,993.53,16.11,8.73,7.39,5.48,1200.85,292.90,0.77
36577,TRAIN_36577,2,20,오전,3.80,277.91,-1.01,70.70,988.03,8.02,5.67,2.35,3.58,1240.06,210.50,8.97
36578,TRAIN_36578,5,29,저녁,20.06,295.10,16.70,81.00,977.90,23.51,19.04,4.47,12.20,1153.24,19.22,2.58
36579,TRAIN_36579,9,10,저녁,25.65,299.81,15.30,52.81,988.39,32.98,17.41,15.56,11.03,1144.61,225.40,0.36
36580,TRAIN_36580,3,11,오전,3.14,276.30,1.88,91.40,1000.01,7.66,7.00,0.66,4.37,1257.47,30.67,4.33

In [2]:
import random, os

def seed_everything(seed):
    random.seed(seed)
    os.environ['PYTHONHASHSEED'] = str(seed)
    np.random.seed(seed)

seed_everything(14) # Seed 고정

In [3]:
train.columns

Index(['ID', '월', '일', '측정 시간대', '섭씨 온도(°⁣C)', '절대 온도(K)', '이슬점 온도(°C)',
       '상대 습도 (%)', '대기압(mbar)', '포화 증기압(mbar)', '실제 증기압(mbar)',
       '증기압 부족량(mbar)', '수증기 함량 (g/kg)', '공기 밀도 (g/m**3)', '풍향 (deg)',
       '풍속 (m/s)'],
      dtype='object')

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36581 entries, 0 to 36580
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              36581 non-null  object
 1   월               36581 non-null  int64
 2   일               36581 non-null  int64
 3   측정 시간대          36581 non-null  object
 4   섭씨 온도(°⁣C)      36581 non-null  float64
 5   절대 온도(K)        36581 non-null  float64
 6   이슬점 온도(°C)      36581 non-null  float64
 7   상대 습도 (%)       36581 non-null  float64
 8   대기압(mbar)       36581 non-null  float64
 9   포화 증기압(mbar)    36581 non-null  float64
 10  실제 증기압(mbar)    36581 non-null  float64
 11  증기압 부족량(mbar)   36581 non-null  float64
 12  수증기 함량 (g/kg)   36581 non-null  float64
 13  공기 밀도 (g/m**3)  36581 non-null  float64
 14  풍향 (deg)        36581 non-null  float64
 15  풍속 (m/s)        36581 non-null  float64
dtypes: float64(12), int64(2), object(2)
memory usage: 4.5+ MB

In [5]:
train.describe()

,월,일,섭씨 온도(°⁣C),절대 온도(K),이슬점 온도(°C),상대 습도 (%),대기압(mbar),포화 증기압(mbar),실제 증기압(mbar),증기압 부족량(mbar),수증기 함량 (g/kg),공기 밀도 (g/m**3),풍향 (deg),풍속 (m/s)
count,36581.000000,36581.000000,36581.000000,36581.000000,36581.000000,36581.000000,36581.000000,36581.000000,36581.000000,36581.000000,36581.000000,36581.000000,36581.00000,36581.000000
mean,6.511468,15.648561,9.992694,283.971095,5.453064,75.827418,990.032953,14.037167,9.786895,4.250224,6.178010,1214.580682,176.58240,2.036446
std,3.458678,8.803467,8.237177,8.354235,6.327009,16.089188,8.824477,8.075680,4.185701,5.191128,2.655054,39.528520,84.38269,1.544146
min,1.000000,1.000000,-13.930000,258.870000,-15.560000,23.640000,956.890000,2.070000,1.810000,0.000000,1.120000,1110.650000,0.01000,0.100000
25%,4.000000,8.000000,3.650000,277.700000,0.450000,65.360000,985.100000,7.940000,6.310000,0.950000,3.980000,1184.030000,129.40000,0.920000
50%,7.000000,16.000000,9.130000,283.170000,5.070000,79.000000,990.250000,11.590000,8.770000,2.250000,5.520000,1214.650000,199.50000,1.630000
75%,9.000000,23.000000,16.350000,290.370000,10.950000,89.200000,995.700000,18.620000,13.100000,5.410000,8.270000,1241.600000,233.90000,2.700000
max,12.000000,31.000000,34.340000,308.620000,20.150000,100.000000,1015.300000,54.270000,23.640000,41.230000,14.980000,1349.460000,360.00000,11.890000

In [6]:
train_x = train.drop(['ID', '풍속 (m/s)'], axis=1)
train_y = train['풍속 (m/s)']

In [7]:
test_x = test.drop(columns=['ID'])

In [8]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le = le.fit(train_x['측정 시간대'])
train_x['측정 시간대'] = le.transform(train_x['측정 시간대'])
test_x['측정 시간대'] = le.transform(test_x['측정 시간대'])

In [9]:
train_x.head(3)

,월,일,측정 시간대,섭씨 온도(°⁣C),절대 온도(K),이슬점 온도(°C),상대 습도 (%),대기압(mbar),포화 증기압(mbar),실제 증기압(mbar),증기압 부족량(mbar),수증기 함량 (g/kg),공기 밀도 (g/m**3),풍향 (deg)
0,7,2,3,13.97,287.78,9.84,76.1,992.08,15.98,12.16,3.82,7.66,1198.06,155.6
1,8,21,1,16.94,290.85,12.14,73.3,991.07,19.33,14.17,5.16,8.94,1183.67,177.0
2,11,1,3,9.76,283.84,5.40,74.2,988.71,12.10,8.98,3.12,5.67,1213.22,146.2

In [10]:
train_x.drop(['절대 온도(K)'], axis=1, inplace=True)
test_x.drop(['절대 온도(K)'], axis=1, inplace=True)

In [11]:
train_x.head(3)

,월,일,측정 시간대,섭씨 온도(°⁣C),이슬점 온도(°C),상대 습도 (%),대기압(mbar),포화 증기압(mbar),실제 증기압(mbar),증기압 부족량(mbar),수증기 함량 (g/kg),공기 밀도 (g/m**3),풍향 (deg)
0,7,2,3,13.97,9.84,76.1,992.08,15.98,12.16,3.82,7.66,1198.06,155.6
1,8,21,1,16.94,12.14,73.3,991.07,19.33,14.17,5.16,8.94,1183.67,177.0
2,11,1,3,9.76,5.40,74.2,988.71,12.10,8.98,3.12,5.67,1213.22,146.2

In [12]:
train_y

0        1.61
1        1.68
2        0.73
3        2.71
4        1.00
         ...
36576    0.77
36577    8.97
36578    2.58
36579    0.36
36580    4.33
Name: 풍속 (m/s), Length: 36581, dtype: float64

In [13]:
from sklearn.preprocessing import StandardScaler

std_scale = StandardScaler()
std_scale.fit(train_x)

X_train_std = std_scale.transform(train_x)
X_test_std = std_scale.transform(test_x)

In [14]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_train_std, train_y, test_size=0.3)

### LinearRegression

In [19]:
from sklearn.linear_model import LinearRegression

clf_lr = LinearRegression()
clf_lr.fit(X_train, y_train)
lr_pred = clf_lr.predict(X_test)

In [16]:
print(clf_lr.coef_) # 가중치(w)
print(clf_lr.intercept_) # 바이어스(b)

[-1.13274052e-01  9.18374340e-02  4.67334490e-03 -6.57104904e+00
  2.84193188e+00 -1.38597626e+00  1.29325587e+00 -2.12832198e+01
 -1.12342136e+01  1.42028542e+01  2.10771015e+01 -4.25694317e+00
 -1.36419729e-01]
2.032451800331391

In [20]:
from sklearn.metrics import mean_absolute_error

mae = mean_absolute_error(y_test, lr_pred)
print('선형 회귀 MAE:', mae)

선형 회귀 MAE: 1.0383042861214957

### 릿지 & 라쏘 회귀

In [21]:
from sklearn.linear_model import Ridge, Lasso

ridge = Ridge()
lasso = Lasso()

ridge.fit(X_test, y_test)
ridge_pred = ridge.predict(X_test)
lasso.fit(X_test, y_test)
lasso_pred = lasso.predict(X_test)

mae_ridge = mean_absolute_error(y_test, ridge_pred)
mae_lasso = mean_absolute_error(y_test, lasso_pred)

print('선형 회귀 MAE:', mae)
print('릿지 회귀 MAE:', mae_ridge)
print('라쏘 회귀 MAE:', mae_lasso)

선형 회귀 MAE: 1.0383042861214957
릿지 회귀 MAE: 1.0429452350908575
라쏘 회귀 MAE: 1.1679491242158353

### Decision Tree

In [ ]:
from sklearn.tree import DecisionTreeRegressor

dtr = DecisionTreeRegressor(criterion='absolute_error')
dtr.fit(X_test, y_test)
dtr_pred = dtr.predict(X_test)

dtr_mae = mean_absolute_error(y_test, dtr_pred)
print(dtr_mae)

0.0