# 데이터 구조의 이해 (1): 차원과 배열

#### 작성자 - 고우주 | kubwa

In [70]:
import numpy as np
from IPython.display import Image

## 1- 1D 배열

In [71]:
# 하나의 행으로 벡터를 만듭니다.
a = np.array([1, 2, 3])
a

array([1, 2, 3])

In [72]:
# 하나의 열로 벡터를 만듭니다.
b = np.array([[1],[2],[3]])
b

array([[1],
       [2],
       [3]])

In [73]:
type(a), type(b)

(numpy.ndarray, numpy.ndarray)

In [74]:
a.shape

(3,)

In [75]:
b.shape

(3, 1)

In [76]:
a1 = np.arange(1, 13)  # numbers 1 to 12
a1.shape

(12,)

In [77]:
a1

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

## 2- 2D 배열

In [78]:
a = np.array([[1, 2],
              [1, 2],
              [1, 2]])
a

array([[1, 2],
       [1, 2],
       [1, 2]])

In [79]:
a_0 = np.zeros((3, 2))
a_0

array([[0., 0.],
       [0., 0.],
       [0., 0.]])

In [80]:
a_1 = np.ones((3, 2))
a_1

array([[1., 1.],
       [1., 1.],
       [1., 1.]])

## 3- 배열 정보 확인

In [81]:
a.shape

(3, 2)

In [82]:
a_0.shape

(3, 2)

In [83]:
a_1.shape

(3, 2)

In [84]:
a.ndim

2

In [85]:
a_0.ndim

2

In [86]:
a.dtype

dtype('int32')

In [87]:
a_1.dtype

dtype('float64')

In [88]:
a_0.dtype

dtype('float64')

- int64, int32, int16, int8
- float64, float32, float16, float8

## 4- reshape( ) 배열 바꾸기

In [89]:
a1_2d = a1.reshape(3, 4)  # 3_4
a1_2d.shape

(3, 4)

In [90]:
a1.reshape(3, 4)

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [91]:
a1.reshape(-1, 4)

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [92]:
  # same as above: a1.reshape(3, 4)
a1.reshape(3, 4)

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [93]:
a1.reshape(3, -1)

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [94]:
  # same as above: a1.reshape(3, 4)
a1.reshape(2, 6)

array([[ 1,  2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11, 12]])

In [95]:
a1.reshape(2, -1)  # same as above: a1.reshape(2, 6)

array([[ 1,  2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11, 12]])

## 5- reshape( ) 다른 방향으로

In [96]:
a1.reshape(3, 4) # reshapes or ‘fills in’ row by row

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [97]:
a1.reshape(3, 4, order='C') # same results as above

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [98]:
a1.reshape(3, 4, order='F')  # reshapes column by column

array([[ 1,  4,  7, 10],
       [ 2,  5,  8, 11],
       [ 3,  6,  9, 12]])

In [99]:
a1  # what's the shape?

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [100]:
a1.shape

(12,)

In [101]:
a1_1_by_12 = a1.reshape(1, -1)  # reshape to 1_12
a1_1_by_12

array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12]])

In [102]:
a1_1_by_12.shape  # 1_12 array

(1, 12)

## 6- Flatten( ), ravel( )로 1D arrays 사용

In [103]:
a1_2d  # 3_4

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [104]:
a1_2d.ravel()  # ravel by row (default order='C')

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [105]:
a1_2d.ravel(order='F')  # ravel by column

array([ 1,  5,  9,  2,  6, 10,  3,  7, 11,  4,  8, 12])

## 7- Concatenate/stack을 위한 np.stack( ) & np.hstack( )

In [106]:
a1 = np.arange(1, 13)
a2 = np.arange(13, 25)

In [107]:
a1

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [108]:
a2

array([13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24])

In [109]:
stack0 = np.stack((a1, a1, a2, a2))  # default stack along 0th axis
stack0.shape

(4, 12)

In [110]:
stack0

array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12],
       [ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12],
       [13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24],
       [13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]])

In [111]:
stack1 = np.stack((a1, a1, a2, a2), axis=1)
stack1.shape

(12, 4)

In [112]:
stack1

array([[ 1,  1, 13, 13],
       [ 2,  2, 14, 14],
       [ 3,  3, 15, 15],
       [ 4,  4, 16, 16],
       [ 5,  5, 17, 17],
       [ 6,  6, 18, 18],
       [ 7,  7, 19, 19],
       [ 8,  8, 20, 20],
       [ 9,  9, 21, 21],
       [10, 10, 22, 22],
       [11, 11, 23, 23],
       [12, 12, 24, 24]])

In [113]:
stack_long = np.hstack((a1, a2))
stack_long.shape

(24,)

## 8- 3차원 배열 만들기

In [114]:
a1 = np.arange(1, 13).reshape(3, -1)  # 3_4
a2 = np.arange(13, 25).reshape(3, -1)  # 3_4

In [115]:
a1

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [116]:
a2

array([[13, 14, 15, 16],
       [17, 18, 19, 20],
       [21, 22, 23, 24]])

In [117]:
a3_0 = np.stack((a1, a2))  # default axis=0 (dimension 0)
a3_1 = np.stack((a1, a2), axis=1)  # along dimension 1
a3_2 = np.stack((a1, a2), axis=2)  # along dimension 2

In [118]:
a3_0

array([[[ 1,  2,  3,  4],
        [ 5,  6,  7,  8],
        [ 9, 10, 11, 12]],

       [[13, 14, 15, 16],
        [17, 18, 19, 20],
        [21, 22, 23, 24]]])

In [119]:
a3_1

array([[[ 1,  2,  3,  4],
        [13, 14, 15, 16]],

       [[ 5,  6,  7,  8],
        [17, 18, 19, 20]],

       [[ 9, 10, 11, 12],
        [21, 22, 23, 24]]])

In [120]:
a3_2

array([[[ 1, 13],
        [ 2, 14],
        [ 3, 15],
        [ 4, 16]],

       [[ 5, 17],
        [ 6, 18],
        [ 7, 19],
        [ 8, 20]],

       [[ 9, 21],
        [10, 22],
        [11, 23],
        [12, 24]]])

## 9- 배열의 차원 인덱싱

In [121]:
# solutions
a3_0[0, :, :]

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [122]:
a3_0[0]  # same as above

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [123]:
a3_1[:, 0, :]

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [124]:
a3_2[:, :, 0]

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

## 10- flatten( ), ravel( ) 배열 펼치기

In [125]:
a3_0

array([[[ 1,  2,  3,  4],
        [ 5,  6,  7,  8],
        [ 9, 10, 11, 12]],

       [[13, 14, 15, 16],
        [17, 18, 19, 20],
        [21, 22, 23, 24]]])

In [126]:
a3_0.ravel()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24])

In [127]:
a3_0.ravel(order='F')

array([ 1, 13,  5, 17,  9, 21,  2, 14,  6, 18, 10, 22,  3, 15,  7, 19, 11,
       23,  4, 16,  8, 20, 12, 24])

In [128]:
a3_0.flatten()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24])

In [129]:
a3_0.flatten(order='F')

array([ 1, 13,  5, 17,  9, 21,  2, 14,  6, 18, 10, 22,  3, 15,  7, 19, 11,
       23,  4, 16,  8, 20, 12, 24])

## 11- reshape( )로 3차원 바꾸기

In [130]:
a3_0.reshape(4, -1)  # reshape to 4_6 (row by row)

array([[ 1,  2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11, 12],
       [13, 14, 15, 16, 17, 18],
       [19, 20, 21, 22, 23, 24]])

In [131]:
a3_0.reshape(4, -1, order='F')  # reshape (column by column)

array([[ 1,  9,  6,  3, 11,  8],
       [13, 21, 18, 15, 23, 20],
       [ 5,  2, 10,  7,  4, 12],
       [17, 14, 22, 19, 16, 24]])

In [132]:
a3_0.reshape(4, 2, 3)  # reshape to 4_2_3 (row by row)

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]],

       [[13, 14, 15],
        [16, 17, 18]],

       [[19, 20, 21],
        [22, 23, 24]]])

## 12- 배열의 전치(transpose)

In [133]:
# 행렬을 만듭니다.
matrix = np.array([[1, 2, 3],
                   [4, 5, 6],
                   [7, 8, 9]])
matrix

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [134]:
# 행렬을 전치합니다.
matrix.T

array([[1, 4, 7],
       [2, 5, 8],
       [3, 6, 9]])